parameters:
    level: 5
    paths:
        - app
        - tests
    ignoreErrors:
        - '#Undefined variable: \$this#'
        - '#Call to an undefined function (test|it|beforeEach|afterEach|expect)#'
    excludePaths:
        - vendor/*
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
